{% extends 'base.html.jinja' %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about_us.css') }}">
</head>
<body>

<header class="about-header">
    <img src="../static/images/about-us.jpg" alt="Team Jongbelegen" class="about-image">
    <h1>About Us</h1>
    <p>Wij zijn team Jongbelegen (1B3) en willen het onderwijs verbeteren met ons project. Hiervoor hebben wij het alleen gehouden op de toetsvragen van het vak Biologie. Wij willen met ons programma testen hoe goed de antwoorden van AI lijken op die van de leraren, hierbij controlleren we de vragen met de taxonomie van Bloom en geven het op bij iedere vraag. Door de last van nakijkwerk over te nemen en te versnellen is lesgeven beter te doen voor leraren/docenten waardoor zij meer kunnen focussen op de kwaliteit van het onderwijs.</p>
    <a href="#teamleden" class="team-link">Teamleden</a>
</header>

    <section id="teamleden" class="profile-cards-container">
        <div class="profile-card">
            <img src="../static/images/pf-hamza.jpg" alt="Profile Photo" class="profile-photo">
            <h2>Hamza</h2>
            <h2>El Kaddouri</h2>
            <p>Software Development 1B3</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/hamza-el-kaddouri-61587822b" target="_blank">
                    <img src="../static/images/linkedin-icon.png" alt="Linkedin">
                </a>
                <a href="https://facebook.com/yourprofile" target="_blank">
                    <img src="../static/images/facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://twitter.com/yourprofile" target="_blank">
                    <img src="../static/images/twitter-icon.png" alt="Twitter">
                </a>
                <a href="https://instagram.com/yourprofile" target="_blank">
                    <img src="../static/images/instagram-icon.png" alt="Instagram">
                </a>
            </div>
        </div>

        <div class="profile-card">
            <img src="../static/images/pf-hamza.jpg" alt="Profile Photo" class="profile-photo">
            <h2>Ilyas</h2>
            <h2>Malik</h2>
            <p>Software Development 1B3</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/ilyas-malik-149b88258/" target="_blank">
                    <img src="../static/images/linkedin-icon.png" alt="Linkedin">
                </a>
                <a href="https://facebook.com/yourprofile" target="_blank">
                    <img src="../static/images/facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://twitter.com/yourprofile" target="_blank">
                    <img src="../static/images/twitter-icon.png" alt="Twitter">
                </a>
                <a href="https://instagram.com/yourprofile" target="_blank">
                    <img src="../static/images/instagram-icon.png" alt="Instagram">
                </a>
            </div>
        </div>

        <div class="profile-card">
            <img src="../static/images/pf-hamza.jpg" alt="Profile Photo" class="profile-photo">
            <h2>Exaucé</h2>
            <h2>Beto</h2>
            <p>Software Development 1B3</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/exauc%C3%A9-beto-5b13001b6/" target="_blank">
                    <img src="../static/images/linkedin-icon.png" alt="Linkedin">
                </a>
                <a href="https://facebook.com/yourprofile" target="_blank">
                    <img src="../static/images/facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://twitter.com/yourprofile" target="_blank">
                    <img src="../static/images/twitter-icon.png" alt="Twitter">
                </a>
                <a href="https://instagram.com/yourprofile" target="_blank">
                    <img src="../static/images/instagram-icon.png" alt="Instagram">
                </a>
            </div>
        </div>

        <div class="profile-card">
            <img src="../static/images/pf-hamza.jpg" alt="Profile Photo" class="profile-photo">
            <h2>Eline</h2>
            <h2>Mol</h2>
            <p>Software Development 1B3</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="../static/images/linkedin-icon.png" alt="Linkedin">
                </a>
                <a href="https://facebook.com/yourprofile" target="_blank">
                    <img src="../static/images/facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://twitter.com/yourprofile" target="_blank">
                    <img src="../static/images/twitter-icon.png" alt="Twitter">
                </a>
                <a href="https://instagram.com/yourprofile" target="_blank">
                    <img src="../static/images/instagram-icon.png" alt="Instagram">
                </a>
            </div>
        </div>

        <div class="profile-card">
            <img src="../static/images/pf-hamza.jpg" alt="Profile Photo" class="profile-photo">
            <h2>Roan</h2>
            <h2>Callewaert</h2>
            <p>Software Development 1B3</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/roan-callewaert-85b963337/" target="_blank">
                    <img src="../static/images/linkedin-icon.png" alt="Linkedin">
                </a>
                <a href="https://facebook.com/yourprofile" target="_blank">
                    <img src="../static/images/facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://twitter.com/yourprofile" target="_blank">
                    <img src="../static/images/twitter-icon.png" alt="Twitter">
                </a>
                <a href="https://instagram.com/yourprofile" target="_blank">
                    <img src="../static/images/instagram-icon.png" alt="Instagram">
                </a>
            </div>
        </div>

        <div class="profile-card">
            <img src="../static/images/pf-hamza.jpg" alt="Profile Photo" class="profile-photo">
            <h2>Dencho</h2>
            <h2>Olivieira</h2>
            <p>Software Development 1B3</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="../static/images/linkedin-icon.png" alt="Linkedin">
                </a>
                <a href="https://facebook.com/yourprofile" target="_blank">
                    <img src="../static/images/facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://twitter.com/yourprofile" target="_blank">
                    <img src="../static/images/twitter-icon.png" alt="Twitter">
                </a>
                <a href="https://instagram.com/yourprofile" target="_blank">
                    <img src="../static/images/instagram-icon.png" alt="Instagram">
                </a>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}