{% block main %}
<footer>
    <div class="footer-pages">
        <a href="{{ url_for('about_us') }}">About us</a>
        <a href="{{ url_for('feedback') }}">Feedback</a>
        <a href="{{ url_for('contact_page') }}">Contact</a>
    </div>
    <div class="footer-bottom">
        <p1>est. 2024 © Jongbelegen - 1b3</p1>
    </div>
</footer>
{% endblock %}